<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card" *ngIf="currentPlayer">
      <div class="card-image">
        <img src="{{currentPlayer?.imageURL || 'https://yarncommunity.org/images/empty.png'}}" alt="person-placeholder" />
        <span class="card-title black">{{currentPlayer.name}}</span>
      </div>
      <div class="card-content">
        <p>Jersey Number: {{currentPlayer?.jerseyNumber}}</p>
        <p>Age: {{db.calculateAge(currentPlayer.birthdate)}}</p>
        <p>Height: {{db.convertInchesToFeetAndInches(currentPlayer.height).ft}} {{db.convertInchesToFeetAndInches(currentPlayer.height).in}}</p>
        <p>Position: {{db.getLongPosition(currentPlayer.position)}}</p>
        <p>Weight: {{currentPlayer.weight}} lbs.</p>
        <p>Games played:</p>
        <ul class="collection">
          <li class="collection-item" *ngFor="let game of gamesThisPlayerPlayed">
            <a routerLink='/teams/{{currentPlayer.teamId}}/games/{{game.$key}}/stats'>
              <div class="game-list-container">
                <span class="game-list-item">{{game.season}}</span>
                <span class="game-list-item">{{game.date}}</span>
                <span class="game-list-item">{{game.location}}</span>
                <span class="game-list-item">{{game.opponent}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
