<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card" *ngIf="currentPlayer">
      <div class="card-image">
        <img src="{{currentPlayer?.imageURL || 'https://yarncommunity.org/images/empty.png'}}" alt="person-placeholder" />
        <span class="card-title black">{{currentPlayer.name}} <i *ngIf="userAssociatedWithTeam?.$key === user?.uid" (click)="clickEdit()" class="small material-icons clickable">mode_edit</i></span>
      </div>
      <div class="card-content">
        <p>Jersey Number: {{currentPlayer?.jerseyNumber}}</p>
        <p>Age: {{db.calculateAge(currentPlayer.birthdate)}}</p>
        <p>Height: {{db.convertInchesToFeetAndInches(currentPlayer.height).ft}} {{db.convertInchesToFeetAndInches(currentPlayer.height).in}}</p>
        <p>Position: {{db.getLongPosition(currentPlayer.position)}}</p>
        <p>Weight: {{currentPlayer.weight}} lbs.</p>
        <div *ngIf="!editing">
          <p>Games played:</p>
          <ul class="collection">
            <li class="collection-item" *ngFor="let game of gamesThisPlayerPlayed">
              <a routerLink='/teams/{{currentPlayer.teamId}}/games/{{game.$key}}/stats'>
                <div class="game-list-container">
                  <span class="game-list-item">{{game.season}} | </span>
                  <span class="game-list-item">{{game.date}} | </span>
                  <span class="game-list-item">{{game.location}} | </span>
                  <span class="game-list-item">{{game.opponent}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <app-edit-player *ngIf="editing" [player]="currentPlayer" [playerId]="playerId"></app-edit-player>
  </div>
</div>
<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card" *ngIf="gameStats">
      <div class="card-content">
        <span class="card-title">{{currentPlayer?.name}} Game Averages</span>
        <table>
          <thead>
            <tr>
              <th>Games</th>
              <th>MP</th>
              <th>PTS</th>
              <th>FG %</th>
              <th>3P %</th>
              <th>FT %</th>
              <th>TRB</th>
              <th>AST</th>
              <th>BLK</th>
              <th>STL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{gameStats.gameCount}}</td>
              <td>{{gameStats.minutes / gameStats.gameCount}}</td>
              <td>{{((gameStats.twoMade * 2) + (gameStats.threeMade * 3) + gameStats.freeMade)/gameStats.gameCount | number:'1.2-2'}}</td>
              <td>{{((gameStats.twoMade + gameStats.threeMade)/(gameStats.twoAttempt + gameStats.threeAttempt) || '0') | number:'1.2-2'}}</td>
              <td>{{((gameStats.threeMade/gameStats.threeAttempt) || '0') | number:'1.2-2'}}</td>
              <td>{{((gameStats.freeMade/gameStats.freeAttempt) || '0') | number:'1.2-2'}}</td>
              <td>{{(gameStats.offRebounds + gameStats.defRebounds)}}</td>
              <td>{{gameStats.assists}}</td>
              <td>{{gameStats.blocks}}</td>
              <td>{{gameStats.steals}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
