#basketball-icon{
  height: 73px;
}

.game-list-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-list-item{
  flex-basis: 25%;
}

.team-nav-bar-section{
  background-image: url("http://wallpapercave.com/wp/pdUdA3Q.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
