<div class="row">
  <div class="col s12 m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{team?.name}} vs {{game?.opponent}}</span>
        <p>Location: {{game?.location}}</p>
        <p>Date: {{game?.date}}</p>
        <p>Season: {{game?.season}}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m9">
    <div class="card">
      <div class="card-content">
        <p>
          {{(gameSummary | async)?.twoMade * 2}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1">
    <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let player of players; trackBy:trackByFn">
        <div class="collapsible-header">{{(player.info | async)?.jerseyNumber}} - {{(player.info | async)?.name}} - 2s Made {{(player.stats | async)?.twoMade}}</div>
        <div class="collapsible-body">
          <div class="stats-group">
            <span class="new badge" data-badge-caption="2-Pointers Made"></span>
            <div class="stats-btn-group">
              <button class="btn-floating btn-flat waves-effect waves-light" *ngIf="twoMade.value > 0" (click)="decrement(player, 'twoMade', twoMade.value)"><i class="material-icons black-text">remove</i></button>
              <button class="btn-floating btn-flat waves-effect waves-light disabled" *ngIf="twoMade.value == 0"><i class="material-icons black-text">remove</i></button>
              <div class="chip"><h5>{{(player.stats | async)?.twoMade}}</h5></div>
              <input class="hide" #twoMade [ngModel]="(player.stats | async)?.twoMade">
              <button class="btn-floating btn-flat waves-effect waves-light" (click)="increment(player, 'twoMade', twoMade.value)"><i class="material-icons black-text">add</i></button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
