.stats-section {
  display: flex;
  flex-direction: column;;
  justify-content: space-between;
  height: 350px;
}

.stats-section hr {
  width: 100%;
}

.stats-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.game-summary {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.game-summary span.badge {
  margin: 3px;
  font-size: 16px;
}

.game-point-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*.game-point-summary span.badge {
  margin: 3px;
  font-size: 18px;
}*/

.point-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rebound-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.other-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.player-stats-header {
  display: flex;
  justify-content: space-between;
}

.player-stats-header span.badge {
  width: 80px;
}
.player-stats-header span.badge strong {
  font-size: 20px;
}
