<div class="row">
  <div class="col s12 m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{team?.name}} vs {{game?.opponent}}</span>
        <p>Location: {{game?.location}}</p>
        <p>Date: {{game?.date}}</p>
        <p>Season: {{game?.season}}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m9">
    <div class="card">
      <div class="card-content">
        <p>
          {{(gameSummary | async)?.twoMade}}
          {{(gameSummary | async)?.threeMade}}
          {{((gameSummary | async)?.twoMade * 2) + ((gameSummary | async)?.threeMade * 3)}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let player of players; trackBy:trackByFn">
        <div class="collapsible-header">
          <div class="player-stats-header">
            <div class="info">
              <span>{{(player.info | async)?.jerseyNumber}} - {{(player.info | async)?.name}}</span>
            </div>
            <div class="stats-summary">
              <span class="new badge" data-badge-caption=" - MP"><strong>{{(player.stats | async)?.minutes}}</strong></span>
              <span class="new badge" data-badge-caption=" - PTS"><strong>{{((player.stats | async)?.twoMade * 2) + ((player.stats | async)?.threeMade * 3) + ((player.stats | async)?.freeMade)}}</strong></span>
              <span class="new badge" data-badge-caption=" - TRB"><strong>{{((player.stats | async)?.defRebounds) + ((player.stats | async)?.offRebounds)}}</strong></span>
              <span class="new badge" data-badge-caption=" - AST"><strong>{{(player.stats | async)?.assists}}</strong></span>
              <span class="new badge" data-badge-caption=" - BLK"><strong>{{(player.stats | async)?.blocks}}</strong></span>
              <span class="new badge" data-badge-caption=" - STL"><strong>{{(player.stats | async)?.steals}}</strong></span>
            </div>
          </div>
        </div>
        <div class="collapsible-body">
          <div class="stats-section">
            <div class="point-section">
              <div class="point-group">
                <!-- 2 Pointers -->
                <app-point-stats [made]="(player.stats | async)?.twoMade" [madeName]="'twoMade'" [attempt]="(player.stats | async)?.twoAttempt" [attemptName]="'twoAttempt'" [statTitle]="'2P'" [player]="player"></app-point-stats>
              </div>
              <div class="point-group">
                <!-- 3 Pointers -->
                <app-point-stats [made]="(player.stats | async)?.threeMade" [madeName]="'threeMade'" [attempt]="(player.stats | async)?.threeAttempt" [attemptName]="'threeAttempt'" [statTitle]="'3P'" [player]="player"></app-point-stats>
              </div>
              <div class="point-group">
                <!-- Free Throws -->
                <app-point-stats [made]="(player.stats | async)?.freeMade" [madeName]="'freeMade'" [attempt]="(player.stats | async)?.freeAttempt" [attemptName]="'freeAttempt'" [statTitle]="'FT'" [player]="player"></app-point-stats>
              </div>
            </div>
            <hr>
            <div class="rebound-section">
              <!-- Offensive Rebounds -->
              <app-stats-group [stat]="(player.stats | async)?.offRebounds" [statName]="'offRebounds'" [statTitle]="'Offensive Rebounds'" [player]="player"></app-stats-group>
              <!-- Defensive Rebounds -->
              <app-stats-group [stat]="(player.stats | async)?.defRebounds" [statName]="'defRebounds'" [statTitle]="'Defensive Rebounds'" [player]="player"></app-stats-group>
              <!-- Assists -->
              <app-stats-group [stat]="(player.stats | async)?.assists" [statName]="'assists'" [statTitle]="'Assists'" [player]="player"></app-stats-group>
              <!-- Steals -->
              <app-stats-group [stat]="(player.stats | async)?.steals" [statName]="'steals'" [statTitle]="'Steals'" [player]="player"></app-stats-group>
              <!-- Blocks -->
              <app-stats-group [stat]="(player.stats | async)?.blocks" [statName]="'blocks'" [statTitle]="'Blocks'" [player]="player"></app-stats-group>
            </div>
            <hr>
            <div class="other-section">
              <!-- Minutes Played -->
              <app-stats-group [stat]="(player.stats | async)?.minutes" [statName]="'minutes'" [statTitle]="'Minutes Played'" [player]="player"></app-stats-group>
              <!-- Turnovers -->
              <app-stats-group [stat]="(player.stats | async)?.turnovers" [statName]="'turnovers'" [statTitle]="'Turnovers'" [player]="player"></app-stats-group>
              <!-- Fouls -->
              <app-stats-group [stat]="(player.stats | async)?.fouls" [statName]="'fouls'" [statTitle]="'Fouls'" [player]="player"></app-stats-group>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
