/* You can add global styles to this file, and also import other style files */
.breadcrumb, .clickable:hover {
  cursor: pointer;
}

.butticon {
  position: absolute !important;
  display: inline-block;
  right: 20px;
  top: 20px;
  height: 60px;
}
