<div class="row body">
  <div class="col s12 m10 offset-m1">
    <div class="card">
      <div class="card-content">
        <div *ngIf="userAssociatedWithTeam?.$key === user?.uid" class="fixed-action-btn horizontal butticon">
          <a class="btn-floating btn-large red darken-3">
            <i class="small material-icons">mode_edit</i>
          </a>
          <ul>
            <li materialize="tooltip" class="tooltipped" data-delay="50" data-tooltip="Delete Team"><a (click)="deleteTeam()" class="btn-floating red"><i class="material-icons">delete</i></a></li>
            <li materialize="tooltip" class="tooltipped" data-delay="50" data-tooltip="Edit Team"><a (click)="clickEdit()" class="btn-floating blue"><i class="material-icons">mode_edit</i></a></li>
            <li materialize="tooltip" class="tooltipped" data-delay="50" data-tooltip="Add Player"><a (click)="togglePlayerForm()" class="btn-floating green"><i class="material-icons">person_add</i></a></li>
            <li materialize="tooltip" class="tooltipped" data-delay="50" data-tooltip="Create Game"><a class="btn-floating yellow darken-3 modal-trigger"><i class="material-icons" (click)="openModal()">add_circle</i></a></li>
          </ul>
        </div>
        <div *ngIf="!editing">
          <span class="card-title">{{team?.name}}</span>
          <p>Location: {{team?.location}}</p>
          <p>Coach: {{team?.coachName}}</p>
          <p>Managed on Statsketball by: {{userAssociatedWithTeam?.name}}</p>
        </div>
        <app-edit-team *ngIf="editing" [teamId]="teamId" [team]="team" (finishSender)="finishEdit()"></app-edit-team>
        <p>Players: </p>
        <ul class="collection">
          <li class="collection-item" *ngFor="let player of players">
            <a routerLink="/teams/{{team.$key}}/players/{{player.$key}}">
              <div class="flex-box-parent">
                <span class="fb-10">#{{player.jerseyNumber}}</span>
                <span class="fb-10">{{player.position}}</span>
                <span class="fb-auto">{{player.name}}</span>
                <span class="fb-10">{{db.convertInchesToFeetAndInches(player.height).ft}} {{db.convertInchesToFeetAndInches(player.height).in}}</span>
                <span class="fb-10">{{player.weight}} lbs.</span>
              </div>
            </a>
          </li>
        </ul>

        <form *ngIf="showPlayerForm" materialize [formGroup]="newPlayerForm">
          <div class="row">
            <div formArrayName="playersF">
              <div *ngFor="let player of playersF.controls; let i=index" [formGroupName]="i">
                <div class="row">
                  <a class="btn-floating btn-flat right" (click)="removePlayer(i)"><i class="material-icons right black-text">close</i></a>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" id="player-name" formControlName="name" required>
                    <label for="player-name">Player #{{i + 1}} Name</label>
                  </div>
                  <div class="input-field col s6">
                    <select id="player-position" materialize="material_select" [materializeSelectOptions]="positions" formControlName="position" required>
                      <option value="" disabled selected>Choose a position</option>
                      <option *ngFor="let option of positions" [value]="option.short">{{option.long}}</option>
                    </select>
                    <label for="player-position">Player #{{i + 1}} Position</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s3">
                    <input type="number" id="player-height" formControlName="height" required>
                    <label for="player-height">Player #{{i + 1}} Height</label>
                  </div>
                  <div class="input-field col s3">
                    <input type="number" id="player-weight" formControlName="weight" required>
                    <label for="player-weight">Player #{{i + 1}} Weight</label>
                  </div>
                  <div class="input-field col s3">
                    <input type="date" id="player-birthdate" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 20}]" formControlName="birthdate" required>
                    <label for="player-birthdate">Player #{{i + 1}} Birthdate</label>
                  </div>
                  <div class="input-field col s3">
                    <input type="number" id="player-number" formControlName="jerseyNumber" pattern="^[0-9]{1,2}$" required>
                    <label for="player-number">Player #{{i + 1}} Jersey Number</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="url" id="player-imgURL" formControlName="imageURL">
                    <label for="player-imgURL">Player #{{i + 1}} Profile Image URL</label>
                  </div>
                </div>
              </div>
              <a *ngIf="userAssociatedWithTeam?.$key === user?.uid" class="btn waves-effect waves-light" (click)="addPlayer()">Add Player
                <i class="material-icons right">add</i>
              </a>
            </div>
          </div>
          <div *ngIf="playersF.length>=1" class="row">
            <button type="button" [disabled]="!newPlayerForm.valid" class="btn waves-effect waves-light" (click)="savePlayers()">Save New Players
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>

        <p>Games:</p>
        <ul class="collection">
          <li class="collection-item" *ngFor="let game of games">
            <a routerLink="/teams/{{team.$key}}/games/{{game.$key}}/stats">
              <div class="flex-box-parent">
                <span class="fb-20">{{game.date}}</span>
                <span class="fb-auto">vs {{game.opponent}}</span>
                <!-- <span class="game-list-item" id="two">Season: {{game.season}}</span> -->
                <span class="fb-30">{{game.location}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="newGameModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="newGameModal">
  <div class="modal-content">
    <h4>Create new Game</h4>
    <app-new-game [team]="team" (closeModalSender)="closeModal()"></app-new-game>
  </div>
</div>
