<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card">
      <div class="card-content">
        <a *ngIf="user" class="waves-effect waves-light btn modal-trigger right" (click)="openModal()">New Game</a>

        <div *ngIf="!editing">
          <span class="card-title">{{team?.name}} <i (click)="clickEdit()" class="tiny material-icons clickable">mode_edit</i></span>
          <p>Location: {{team?.location}}</p>
          <p>Coach: {{team?.coachName}}</p>
        </div>
        <app-edit-team *ngIf="editing" [teamId]="teamId" [team]="team"></app-edit-team>

        <p>Players: </p>
        <ul class="collection">
          <li class="collection-item" *ngFor="let player of players">
            <a routerLink="/teams/{{team.$key}}/players/{{player.$key}}">
              <span>{{player.name}} | </span>
              <span>{{player.position}} | </span>
              <span>{{db.convertInchesToFeetAndInches(player.height).ft}} {{db.convertInchesToFeetAndInches(player.height).in}}  | </span>
              <span>{{player.weight}} lbs.</span>
            </a>
          </li>
        </ul>

        <form materialize [formGroup]="newPlayerForm">
          <div class="row">
            <div formArrayName="playersF">
              <div *ngFor="let player of playersF.controls; let i=index" [formGroupName]="i">
                <div class="row">
                  <a class="btn-floating btn-flat right" (click)="removePlayer(i)"><i class="material-icons right black-text">close</i></a>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="text" id="player-name" formControlName="name" required>
                    <label for="player-name">Player #{{i + 1}} Name</label>
                  </div>
                  <div class="input-field col s6">
                    <select id="player-position" materialize="material_select" [materializeSelectOptions]="positions" formControlName="position" required>
                      <option value="" disabled selected>Choose a position</option>
                      <option *ngFor="let option of positions" [value]="option.short">{{option.long}}</option>
                    </select>
                    <label for="player-position">Player #{{i + 1}} Position</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s3">
                    <input type="number" id="player-height" formControlName="height" required>
                    <label for="player-height">Player #{{i + 1}} Height</label>
                  </div>
                  <div class="input-field col s3">
                    <input type="number" id="player-weight" formControlName="weight" required>
                    <label for="player-weight">Player #{{i + 1}} Weight</label>
                  </div>
                  <div class="input-field col s3">
                    <input type="date" id="player-birthdate" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 20}]" formControlName="birthdate" required>
                    <label for="player-birthdate">Player #{{i + 1}} Birthdate</label>
                  </div>
                  <div class="input-field col s3">
                    <input type="number" id="player-number" formControlName="jerseyNumber" required>
                    <label for="player-number">Player #{{i + 1}} Jersey Number</label>
                  </div>
                </div>
              </div>
              <button class="btn waves-effect waves-light" (click)="addPlayer()">Add Player
                <i class="material-icons right">add</i>
              </button>
            </div>
          </div>
        </form>
        <div *ngIf="playersF.length>=1" class="row">
          <button type="button" [disabled]="!newPlayerForm.valid" class="btn waves-effect waves-light" (click)="savePlayers()">Save New Players
            <i class="material-icons right">send</i>
          </button>
        </div>

        <p>Games:</p>
        <ul class="collection">
          <li class="collection-item" *ngFor="let game of games">
            <a routerLink="/teams/{{team.$key}}/games/{{game.$key}}/stats">
              <span>{{game.season}} | </span>
              <span>{{game.date}} | </span>
              <span>{{game.location}} | </span>
              <span>{{game.opponent}}</span>
            </a>
          </li>
        </ul>
        <a class="waves-effect waves-light btn" (click)="openModal()">Add a Game</a>
      </div>
    </div>
  </div>
</div>

<div id="newGameModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="newGameModal">
  <div class="modal-content">
    <h4>Create new Game</h4>
    <app-new-game [team]="team" (closeModalSender)="closeModal()"></app-new-game>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
